body{
	margin: 0;
	padding: 0;
	}

header {
	text-align: center;
	margin-top: 70px;
	height: 400px;
	background-image: url('images/html5.jpg');
	}

nav {
	position: fixed;
	top: 0px;
	background-color: black;
	height: 70px;
  width: 100%;
  margin: 0px auto;
	}

nav ul {
	margin: 0;
	padding-top: 15px;
	}

nav li {
	display: inline-block;
	list-style-type: none;
	padding: 10px;
	color: lightgrey;
	}